.root {
}

.email {
  margin-bottom: 0.5rem;
  span {
    display: block;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
  }
}

.remember {
  margin-bottom: 30px;
  font-size: 20pt;
}

.submit {
  width: 100px
}
