@use "sass:math";
@import "/styles/colors";

.root {
    $size: 1.1rem;
    $font-size: 0.7rem;
    $border-width: 2px;
    $cursor: pointer;

    display: inline-flex;
    position: relative; // To anchor the absolute-positioned check

    span {
        font-size: $font-size;
        display: inline-flex;
        align-items: center;
        margin-left: 0.5rem;
    }

    input {
        appearance: none;
        cursor: $cursor;

        margin: 0;
        height: $size;
        width: $size;

        border: $border-width solid $grey-faint;
        border-radius: 4px;

        &:disabled {
            border-color: $grey-light;
            background-color: $grey-faint;
        }

        &:checked {
            border-color: $blue;
            background-color: $blue-light;

            &:disabled {
                border-color: $grey-light;
                background-color: $grey-faint;
                &::before {
                    color: $grey;
                }
            }

            &::before { // Checkmark
                // Tick character
                content: '\2714';
                color: white;
                font-size: $font-size;
                text-align: center;
                font-style: italic;
                // Position to .root
                position: absolute;
                width: $size;
                top: math.div($border-width, 2);
                left: math.div($border-width, -2);
                display: block;
                cursor: $cursor;
            }
        }
    }
}
