@use "sass:math";
@import "/styles/colors";

.root {
    $size: 1rem;
    $border-width: 2px;

    display: inline-flex;
    position: relative; // To anchor the absolute-positioned check
    cursor: pointer;

    span {
        color: $grey-dark;
        font-size: 0.7rem;
        display: inline-flex;
        align-items: center;
        margin-left: 0.4rem;
        user-select: none;
    }

    input {
        appearance: none;
        cursor: inherit;

        margin: 0;
        height: $size;
        width: $size;

        border: $border-width solid $grey-faint;
        border-radius: 4px;

        &:disabled {
            border-color: $grey-light;
            background-color: $grey-faint;
        }

        &:checked {
            border-color: $blue;
            background-color: $blue-light;

            &:disabled {
                border-color: $grey-light;
                background-color: $grey-faint;
                &::before {
                    color: $grey;
                }
            }

            &::before { // Checkmark
                // Tick character
                content: '\2714';
                color: white;
                font-size: 0.55rem;
                text-align: center;
                font-style: italic;
                // Position to .root
                position: absolute;
                width: $size;
                top: 2px;
                left: -1px;
                display: block;
            }
        }
    }
}
