$grey-dark: #606060;
$grey: #979797;
$grey-light: #d0d0d0;
$grey-faint: #f0f0f0;

$blue: #25a3de;
$blue-light: #36aae0;

$green-light: #40b56d;
$green: #30af5f;
$green-dark: #2fa85b;

$error-background: #ffeeee;
