$grey-dark: #606060;
$grey: #b0b0b0;
$grey-light: #cdcdcd;
$grey-faint: #f6f6f6;

$blue: #25a3de;
$blue-light: #36aae0;

$green-light: #40b56d;
$green: #30af5f;
$green-dark: #2fa85b;

$error-background: #ffeeee;
